  <h1>Login</h1>
    <form action="/api/users/login" method="POST">
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Contraseña</label><br>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
    <p>No tienes una cuenta? <a href="http://localhost:8080/api/users/register">Registro</a></p>